Todo:
-----
- Fill in rest of visualization functions
- Make rapid visualizations
- Train several kinds of deep features and make plots
- Investigate flowgan more


Train a full pipeline
Visualize
Test lots of models




Generators must have the following attributes / properties:

nz : number of latent features
outshape : a list [] containing the shape of the output, not including the batch dimension
nc : number of colors
imsize : width/height of output image, if this makes sense
numOutDims : Total number of output dims per point (e.g. nc*size*size for images)

All nets must have:
outshape
numOutDims

Every *Embedding* model must also have:
nOutClasses